.Table {
	text-align: center;
}

.Table-logo {
	animation: Table-logo-spin infinite 20s linear;
	height: 80px;
}

.Table-header {
	background-color: #222;
	padding: 20px;
	color: white;
}

.Table-header p {
	text-align: left;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Table-body {
	
}

@keyframes Table-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.card {
	border: 1px solid #999;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: move;
	width: 102px;
	height: 142px;
	background-color: #efefef;
	transition: box-shadow 0.15s ease-out;
}

.card:hover {
	border: 1px solid #fb9;
}

.card:active {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.card * {
	border-radius: inherit;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}

.card:hover {
	border: 1px solid #fb9;
}

.card:active {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.card * {
	border-radius: inherit;
	height: 100%;
	width: 100%;
}

.deck {
	outline: none;
	border: 1px solid #999;
	border-right: 3px solid #777;
	border-bottom: 2px solid #999;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: move;
	width: 102px;
	height: 142px;
	background-color: #efefef;
	transition: box-shadow 0.15s ease-out;
}

.deck * {
	border-radius: inherit;
	height: 100%;
	width: 100%;
}

.deck:hover {
	border: 1px solid #fb9;
	border-right: 3px solid #d96;
	border-bottom: 2px solid #fb9;
}

.deck:active {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}


.noselect * {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently */
			
	pointer-events: none;
}

.noselect img {
	pointer-events: none;
}

.deckCardsCounter {
	border: 1px solid rgba(0, 0, 0, 0.3);
	top: -11px;
	left: -11px;
	color: rgba(0, 0, 0, 0.8);
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 21px;
	width: initial;
    height: initial;
    padding: 0 6px;
	width: no;
	border-radius: 5px;
	position: absolute;
}

.deckAnimaiton {
	outline: none;
	border: 1px solid #999;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: 0;
	width: 102px;
	height: 142px;
	background-color: #efefef;
}

.deckAnimaitonLeft {
	animation: Deck-animaiton-left 1 0.35s ease-in-out;
}

.deckAnimaitonRight {
	animation: Deck-animaiton-right 1 0.45s ease-in-out;
}

.deckAnimaiton * {
	border-radius: inherit;
	height: 100%;
	width: 100%;
}

@keyframes Deck-animaiton-left {
	from { transform: rotate(0deg); }
	to { transform: rotate(180deg); }
}

@keyframes Deck-animaiton-right {
	from { transform: rotate(0deg); }
	to { transform: rotate(180deg); }
}